<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="C:\Users\Pedro\Desktop\TCC2\license-plate-recognition-main\html\cadastro.css">
    <title>Cadastro</title>
</head>

<body>
    <hr>
    <h1>Security Vision</h1>
    <hr>
        <h2>Cadastro de moradores</h2>

    <form action="cadastro" id="cadastro" method="post" autocomplete="off">   

        <label id="cad_nome" for="nome">Nome:</label>
        <input type="text" name="nome" id="nome" maxlength="100" required placeholder="Digite o nome do morador" required autofocus /> <br><br>

        <label id="cad_apto" for="apto">Apto:</label>
        <input type="text" name="apto" id="apto" required placeholder="Digite o apartamento" required /><br><br>

        <label id="cad_placa" for="placa">Placa:</label>
        <input type="text" name="placa" id="placa"  required placeholder="Digite a placa do veiculo" required /><br><br>
        
        <button type="submit" name = "cad" id="cad">Cadastrar</button>
    </form>
    <form method="post" action="{{ url_for('tasks') }}">
    <input type="submit" value="Voltar" name="click"/>

</body>

</html>