
<body>
    <div class="container">
        <div class="row">
            <div class="col-lg-8  offset-lg-2">
                <div>
                <h2 class="mt-5">Security vision</h2>
                </div>
                <p>Instruções:</p>
                <p>Clique em capturar para verificar os dados da placa.</p>
                <div>
                <img src="{{ url_for('video_feed') }}" height="50%" width="45%">
                </div>
                <p>{{ error_message }}</p>
                <p>{{ texto }}</p>
                <p>{{ auth }}</p>
                <!--<p>{{ report1|safe }}</p>-->
                <p>{{ confirmation|safe }}</p>
                <p>{{ report2|safe }}</p>
                <form method="post" action="{{ url_for('tasks') }}">
                <input type="submit" value="Capturar" name="click"/>
                </form>
                <form method="post" action="{{ url_for('tasks') }}">
                <input type="submit" value="Voltar" name="click"/>
                
            </div>
        </div>
    </div>
    </body>
    