<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../index.css">

    <title>Login</title>
</head>

<body>
    

        <div>
            <h2>Security Vision</h2>

    <form action=" " method="post">

            <label for="us">Usuário</label>

            <input type="text" name="us" required placeholder="Login do Usuário"><br><br>

            <label for="senha" id="senha">Senha</label>

            <input type="password" name="senha" required placeholder="Digite sua senha"><br><br>
            <span class="lnr lnr-eye"></span>

            <button type="submit" id="btn">Login</button>

        </div>
    </form>
</body>

</html>